body {
	background-color: #FFFFFF;
}

@font-face {
	font-family:fairy;
	src: url(../fonts/fairy.ttf);
}

h1 {
	color:#7442f4;
	font-size: 100px;
}

h2 {
	color:#7442f4;
	font-size: 72px;
}

h3 {
	color:#7442f4;
	font-size: 60px;
}

h4 {
	color:#7442f4;
	font-size: 48px;

}

h5 {
	color:#7442f4;
	font-size: 30px;

}

h6 {
	color:#7442f4;
	font-size: 28px;

}

a {
	color:#7442f4;
  
}

p {
	color:#FFFFFF;
   
}

.nav {
	background-color:#7442f4; 
}


