body {
	background-color: #FFFFFF;
	border-color: #c28eef;
	border-width: 3px;
	border-style: solid;
}

@font-face {
	font-family:fairy;
	src: url(../fonts/stardust.ttf);
}

h1 {
	color:#c28eef;
	font-size: 100px;
}

h2 {
	color:#c28eef;
	font-size: 72px;
}

h3 {
	color:#c28eef;
	font-size: 60px;
}

h4 {
	color:#c28eef;
	font-size: 48px;

}

h5 {
	color:#c28eef;
	font-size: 30px;

}

h6 {
	color:#c28eef;
	font-size: 28px;

}

a {
	color:#FFFFFF;
  
}

p {
	color:#c28eef;
   
}

#mynavb {
	background-color:#c28eef; 
}

#mynav {
	font-color: white;
	font-size: 24px;
}

#navborder {
	border: 2px solid #FFFFFF;
}

#dborder {
	max-width: 300px;
	border: 2px solid #c28eef;
}

}


